html, input, textarea, keygen, select, option, button {
  font-family: sans-serif;
}

.sidebar.navbar .nav-list-item .navbar-brand i {
  display: none;
}

.sidebar.navbar .header-nav {
  left: 0px !important;
  padding-left: 80px;
  width: 100% !important;
  border-bottom: none !important;
  background: #77BDF2 !important;
  -webkit-app-region: drag;
}

nav {
  -webkit-app-region: drag;
}

.nav-list-item.brand-list-item {
  background: #f6f6f6 !important;
}

.navbar-brand .nav-link {
  background: none !important;
}

.sidebar.navbar .header-nav .header-nav-actions {
  border-bottom: 1px solid #cdcdcd;
  background: #fff;
}
